# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
.eggs/
*.egg
.venv/
.env

# .NET build outputs
bin/
obj/

# .NET tools and project artifacts
*.user
*.suo
.vs/
*.swp

# Misc
.netcoredbg_hist
native/build/
lib/
